[Desktop Entry]
Type=Application
Name=Vespera
GenericName=WhatsApp Client
Comment=A native WhatsApp client
Exec=vespera
Icon=vespera
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=whatsapp;chat;messaging;
StartupWMClass=vespera
