[Desktop Entry]
Type=Application
Name=ZapExt
GenericName=WhatsApp Client
Comment=A native WhatsApp client
Exec=zapext
Icon=zapfast
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=whatsapp;chat;messaging;
StartupWMClass=zapfast
